*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: antiquewhite;
    padding: 20px 0;
}
nav{
    justify-content: space-between;
    display: flex;
    width: 90%;
    
    margin: 0 auto;
}

.menubtn{
    font-size: 14px;
    background-color: black;
    color: white;
    padding: 8px 26px;
    border-radius: 50px;
}
.bataimage{
    width: 300px;
    height: 400px;
}
.lol{
    font-size: 14px;
    border: 1px solid black;
    color: black;
    padding: 8px 26px;
    border-radius: 50px;
    display: block;
    
}
.bata2image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
main{
    display: flex;
    border: 1px solid black;
    height: 698px;
}
.bata1,
.bata2{
    flex: 1;
    background-color: rgb(247, 193, 123);
}
.batatitle2{
    margin: 0 auto;
    font-size: 70px;
}
.batatitle{
    text-align: center;
    font-size: 70px;
    width: fit-content;
    
}
.hello{
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    background-color: antiquewhite;
}
.top2{
    text-align: center;
    background-color: antiquewhite;
}
.hi{
    padding-top: 30px;
    background-color: antiquewhite;
}
.not{
    padding: 20px;
width: 500px;
margin: 0 auto;
font-weight: 100;

}
.lmao{

    font-size: 14px;
    color: black;
    border: 1px solid black;
    background-color: antiquewhite;
    padding: 8px 26px;
    border-radius: 50px;
    margin-bottom: 4px;
}
.mahal{
border: 2px solid black;
margin-top: 60px;
 width: 100%;
 height: 700px;
 background-image: url(codm4.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
.text{
    font-size: 50px;
    align-items: center;
    margin-top: 10px;
    background-color: antiquewhite;
    
}
.textta{
    border: 2px solid rgb(165, 40, 40);
    font-size: 30px;
    text-align: center;
   padding: 50px 0;
    background-color: antiquewhite;
}
.xD{
    
    margin-top: 50px;
    background-color: antiquewhite;
     gap: 250px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    
}

    
.lolse{
   width: 100%;
   height: 100%;
   object-fit: cover;
      
}
.xl{

    background-color: antiquewhite;
    margin-top: 60px;
    gap: 30px;
    display: flex;
    justify-content: space-around;
}
.box-image{
    width: 300px;
    height: 400px;
   
} 
.rey{
    margin-bottom: 30px;
    font-size: 30px;
}
.wrapper
{
    width: 90%;
    margin: 0 auto;
    
}
.box{

    width: 300px;

}
.containerbox{
    display: flex;
    justify-content: space-between;
}
.img-frame{
    margin-top: 40px;
    width: 300px;
    height: 400px;
}
.boximg{
    width: 100%;
    height: 100%;
}
.discover{
    font-size: 50px;
    text-align: center;
    margin-top: 65px;
}
.seeallgamescontainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.seeallgames{
    font-size: 14px;
    border: 1px solid black;
    color: black;
    padding: 8px 26px;
    border-radius: 50px;
    display: block;
    margin-bottom: 100px;
}
.ando{
    background-color: antiquewhite;
}
.buy{
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.sell{
    border: 1px black solid;
    
}
.frozen{
    display: flex;
    
}
.cj{
    border: 1px solid black;
    padding: 100px;
}
.cjanak{
    font-size: 30px;
    margin-bottom: 30px;
}
.cj2{
    font-size: 17px;
}
.manaoulam{
display: flex;
}
.hehllo{
    font-size: 30px;
    margin-bottom: 30px;
    
}
.ilisan{
   
}
.heh{
    padding-right: 100px;
    border: 1px solid black;
    padding: 80px;
    padding-bottom: 100px;
}
.loe{
    
}